.black {
  background-color: #1D1E1D;
}

.biggerSize {
  margin-top: 10px;
  font-size: 140%;
  -webkit-text-stroke: 0.2px #fff;
  -webkit-text-stroke-color: #fff;
}

.biggerSize2 {
  font-size: 220%;
  -webkit-text-stroke-color: #fff;
}

.biggerSize3 {
  font-size: 220%;
  -webkit-text-stroke-color: #fff;
}

.orange {
  color: orange !important;
}

.yellow {
  color: yellow !important;
}

.blue {
  color: #456EED !important;
}


