<app-header [title]="user.username"></app-header>

<app-profile-view *ngIf="statusType!='Accepted'" [user]="user" [isTrainer]="true"
                  [imageLocation]="imageLocation" [statusType]="statusType"></app-profile-view>

<div class="row" *ngIf="statusType=='Accepted'">
  <div class="column ">

    <div class="row ">
      <div class="column">

        <img
          class="profileImage"
          src="{{imageLocation}}"
          alt=""/>

      </div>

      <div class="column">
        <h1 class="info">Personal Information:</h1>
        <h3 class="info">First Name - {{user.firstName}}</h3>
        <h3 class="info">Last Name - {{user.lastName}}</h3>
        <h3 class="info">Username - {{user.username}}</h3>
        <h3 class="info">Height - {{user.height}} cm</h3>
        <h3 class="info">Age - {{user.age}}</h3>
        <h3 class="info">Email - {{user.email}}</h3>

      </div>

    </div>

    <ul class="trainingOptions" *ngIf="trainings">
      <li class="liPage" *ngIf="trainings.length!==0">

        <ul class="locationPage " *ngIf="links !== undefined&&lastPage!==0">

          <li *ngIf="links.prev!==undefined" class="paginate_button page-item "><a
            (click)="sendPrevRequest(links.prev.href)"
            class="page-link">{{page}}</a>
          </li>
          <li class="paginate_button page-item "><a (click)="sendRequest(links.self.href)"
                                                    class="page-link">{{page + 1}}</a>
          </li>
          <li *ngIf="links.next!==undefined"
              class="paginate_button page-item "><a
            (click)="sendNextRequest(links.next.href)"
            class="page-link">{{page + 2}}</a>
          </li>

        </ul>


      </li>
      <li class="liSort" *ngIf="trainings.length!==0">

        <div class="nav-item dropdown location">
          <a class="nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Sort By: {{sortBy}}
            <span class="caret"></span></a>
          <div class="dropdown-menu locationDropdown">
            <a class="dropdown-item" (click)="showAll('statusType','asc',links.sortByStatusTypeAsc.href)">Status
              Ascending</a>
            <a class="dropdown-item" (click)="showAll('statusType','desc',links.sortByStatusTypeDesc.href)">Status
              Descending</a>
            <a class="dropdown-item" (click)="showAll('title','asc',links.sortByTitleAsc.href)">Title Ascending</a>
            <a class="dropdown-item" (click)="showAll('title','desc',links.sortByTitleDesc.href)">Title Descending</a>
            <a class="dropdown-item" (click)="showAll('fromDate','asc',links.sortByFromDateAsc.href)">FromDate
              Ascending</a>
            <a class="dropdown-item" (click)="showAll('fromDate','desc',links.sortByFromDateDesc.href)">FromDate
              Descending</a>
          </div>

        </div>


      </li>
      <li class="liSearch" *ngIf="trainings.length!==0">

        <label for="searchBox"></label>
        <input id="searchBox" class="searchBar" type="text"
               (keyup)="applyFilter()"
               (click)="showSuggestions()"
               [(ngModel)]="searchText" autocomplete="off"
               placeholder="Search by title..">

        <div *ngIf="suggestionTrainings!==undefined" class="suggestions">
          <div *ngFor="let currentTraining of suggestionTrainings" class="suggestion"
               [routerLink]="'/users/'+user.id+'/trainings/'+currentTraining.id"
               routerLinkActive="active">

            <img *ngIf="currentTraining.trainingType==='Bike'"
                 [class.easy]="currentTraining.difficulty==='Easy'"
                 [class.medium]="currentTraining.difficulty==='Medium'"
                 [class.hard]="currentTraining.difficulty==='Hard'"
                 class="circleImage"
                 src="../../../../assets/images/bike.png"
                 alt=""/>
            <img *ngIf="currentTraining.trainingType==='Running'"
                 [class.easy]="currentTraining.difficulty==='Easy'"
                 [class.medium]="currentTraining.difficulty==='Medium'"
                 [class.hard]="currentTraining.difficulty==='Hard'"
                 class="circleImage"
                 src="../../../../assets/images/running.png"
                 alt=""/>
            <img *ngIf="currentTraining.trainingType==='Ski'"
                 [class.easy]="currentTraining.difficulty==='Easy'"
                 [class.medium]="currentTraining.difficulty==='Medium'"
                 [class.hard]="currentTraining.difficulty==='Hard'"
                 class="circleImage"
                 src="../../../../assets/images/ski.png"
                 alt=""/>
            <img *ngIf="currentTraining.trainingType==='Fitness'"
                 [class.easy]="currentTraining.difficulty==='Easy'"
                 [class.medium]="currentTraining.difficulty==='Medium'"
                 [class.hard]="currentTraining.difficulty==='Hard'"
                 class="circleImage"
                 src="../../../../assets/images/fitness.png"
                 alt=""/>
            {{currentTraining.title}}
          </div>
        </div>

      </li>
      <li class="liAdd">

        <button class="addButton" [routerLink]="'/users/'+user.id+'/trainings/add'" routerLinkActive="active"
                [routerLinkActiveOptions]="true">
          Add New Training
        </button>

      </li>
      <li *ngIf="trainings.length===0||lastPage===0" class="marginFix"></li>
    </ul>


    <div class="trainings">

      <div class="col-lg-12">
        <div class="trainingsDisplay">


          <app-trainings [trainings]="trainings" [urlPrefix]="'/users/' + user.id +'/trainings/'"></app-trainings>
          <div *ngIf="trainings&&trainings.length===0" class="positionCenter">No Trainings</div>
        </div>

      </div>

    </div>
  </div>
  <div class="column">
    <canvas id="myChart" class="size"></canvas>
    <canvas id="myChart1" class="size2"></canvas>
  </div>
</div>




